<launch>
    <include file="$(find smb_gazebo)/launch/smb_gazebo.launch">
        <arg name="laser_enabled" value="true"/>
        <arg name="world_file" value="$(find smb_hl_control)/worlds/singlePillar.world"/>
        <arg name="laser_scan_min_height" value="-0.2"/>
        <arg name="laser_scan_max_height" value="1.0"/>

    </include>
    
    <rosparam command="load" file="$(find smb_hl_control)/config/param.yaml"/>
    <node name="ex2_sub" type="sub_node" pkg="smb_hl_control" output="screen"/>

</launch>
